---
title: 404错误
permalink: /404.html
---
<!DOCTYPE html>
<html lang="cn">
{% include head.html %}
<link rel="canonical" href="http://blog.yinwoods.com"/>
<noscript>
    <meta charset="utf-8" http-equiv="refresh" content="5;URL='http://blog.yinwoods.com'">
</noscript>
<body>
	<div id="container" class="container modify error">

		<div id="content" class="content">
			{% include navbar.html %}

			<section class="error-item">
				<div class="error-pic">
					<img src="/static/img/error.png" alt="">
					<a href="{{ site.BASE_PATH }}/">对不起，您所请求的页面不存在，请返回<strong>主页</strong>!</a>
				</div>
			</section>

			{% include footer.html %}
			{% include menu.html %}
		</div>
	</div>
</body>
	
<script type="text/javascript">
    var url = "http://blog.yinwoods.com";
    var delay = "5000";
    window.onload = function ()
    {
        setTimeout(GoToURL, delay);
    }
    function GoToURL()
    {
        if(typeof IE_fix != "undefined") // IE8 and lower fix to pass the http referer
        {
            var referLink = document.createElement("a");
            referLink.href = url;
            document.body.appendChild(referLink);
            referLink.click();
        }
        else { window.location.replace(url); } // All other browsers
    }
</script>

<script type="text/javascript" src="{{ site.BASE_PATH }}/static/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="{{ site.BASE_PATH }}/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ site.BASE_PATH }}/static/js/classie.js"></script>
<!-- snap.svg -->
    <script type="text/javascript" src="{{ site.BASE_PATH }}/static/js/snap.svg-min.js"></script>
    <script type="text/javascript" src="{{ site.BASE_PATH }}/static/js/SVGButton.js"></script>
<!-- menu -->
    <script type="text/javascript" src="{{ site.BASE_PATH }}/static/js/menuTriggle.js"></script>
<!--[if lte IE 8]>
    <script type="text/javascript" src="{{ site.BASE_PATH }}/js/fuckie.js"></script>
<![endif]-->
</html>
