		<nav id="menu" class="menu">
			<ul>
				<!--<li><img class="img-rounded" alt="140*140" src="img/cap.png"></li>-->

				<li class="text-center"><img  class="img-rounded" alt="140*140"  src="{{ site.BASE_PATH }}/img/about/me.png"></li>

				<li class="text-center"><a href="{{ site.BASE_PATH }}/index.html"><span class="glyphicon glyphicon-home"></span></i> 首页 </a></li>
				
				
				<li class="text-center"><a href="{{ site.BASE_PATH }}/codebase.html"><span class="glyphicon glyphicon-inbox"></span></i>  代码库 </a></li>
				

				<li class="text-center"><a href="{{ site.BASE_PATH }}/coding.html"><span class="glyphicon glyphicon-road"></span></i>  编程之路 </a></li>
				
				<li class="text-center"><a href="{{ site.BASE_PATH }}/myshare.html"><span class="glyphicon glyphicon-gift"></span>  我的分享 </a></li>
				
				<li class="text-center"><a href="{{ site.BASE_PATH }}/diary.html"><span class="glyphicon glyphicon-calendar"></span></i>  生活日志 </a></li>
				
				<li class="text-center"><a href="{{ site.BASE_PATH }}/about.html"><span class="glyphicon glyphicon-sunglasses"></span></i>  关于博主 </a></li>

				<li class="text-center"><a href="{{ site.BASE_PATH }}/friend.html"><span class="glyphicon glyphicon-send"></span></i> 我的朋友 </a></li>

				<li class="text-center"><a href="{{ site.BASE_PATH }}/rss.xml"><span class="glyphicon glyphicon-registration-mark"></span></i> RSS </a></li>

			</ul>
			<button id="btnClose" class="btn-close"></button>

			<div id="SVGMenu" class="svg-menu" 
                data-menu-open="M-7.312,0H15c0,0,66,113.339,66,399.5C81,664.006,15,800,15,800H-7.312V0z;M-7.312,0H100c0,0,0,113.839,0,400c0,264.506,0,400,0,400H-7.312V0z" 
                data-menu-close="M-6,0h101c0,0-90,153.603-90,396.167C2.167,627.579,100,800,100,800H-1V0z;M-7.312,0H100c0,0,0,113.839,0,400c0,264.506,0,400,0,400H-7.312V0z">
				<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 100 800" preserveAspectRatio="none">
					<path d="M-7.312,0H0c0,0,0,113.839,0,400c0,264.506,0,400,0,400h-7.312V0z"/>
				</svg>
			</div>

		</nav>

