<nav class="navbar">
	<div class="pull-left">
		<button id="btnMenu" type="button" class="btn btn-default btn-sm btn-menu">
			<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>	菜 单
		</button>
	</div>
	<ul class="pull-center">
		<li class="active"><a href="{{ site.BASE_PATH }}/">博客</a></li>
        <li><a href="{{ site.BASE_PATH }}/category/aboutme.html">关于我</a></li>
	</ul>
	<div class="pull-right">
		<button type="button" class="btn btn-default btn-sm btn-list">
			<a href="{{ site.BASE_PATH }}/category/book-movie-list/booklist.html">
				<span class="glyphicon glyphicon-list-alt"></span> 书单/影单  
			</a>
		</button>
	</div>
</nav>