<header class="post-header">
	<div class="hd-img">
		<img src="{{ site.BASE_PATH }}/img/bg/{{ page.img }}.jpg" alt="背景图片">
	</div>
	<div class="title">
		<h1>{{ page.title }}</h1>
	</div>
</header>
<button id="btnArrow" class="btn-arrow" data-info="点击显示文章"><i class="icon icon-arrow-down">&#xe619;</i></button>
<div class="post-title">
	<h1>{{ page.title }}</h1>
	{% if page.subline %}<p class="subline">{{page.subline}}</p>{% endif %}
	<p>作者: <a target="_blank" href="{{ site.SITE_PATH }}/"><strong>{{ site.author.name }}</strong></a>&nbsp;&nbsp;&nbsp;分类: <a target="_blank" href="{{ site.SITE_PATH }}/{{ page.categories }}.html"><strong>{{ page.categories }}</strong></a>&nbsp;&nbsp;&nbsp;日期: <strong>{{ page.date | date: "%Y" }}年{{ page.date | date: "%m" }}月{{ page.date | date: "%d" }}日</strong></p>
</div>

<article class="post-content">
	<div>
		{{content }}
	</div>
    <!-- JiaThis Button BEGIN -->
    <div class="jiathis_style">
        <span style="font-family:sans-serif; color:#009966">分享到：</span>
        <a class="jiathis_button_weixin share_button" href=""></a>
        <a class="jiathis_button_tsina share_button" href=""></a>
        <a class="jiathis_button_qzone share_button" href=""></a>
        <a class="jiathis_button_evernote share_button" href=""></a>
        <a class="jiathis_button_ydnote share_button" href=""></a>
        <a class="jiathis_button_pocket share_button" href=""></a>
        <a class="jiathis_button_douban share_button" href=""></a>
        <a class="jiathis_button_renren share_button" href=""></a>
        <a class="jiathis_button_fb share_button" href=""></a>
        <a class="jiathis_button_linkedin share_button" href=""></a>
        <a class="jiathis_button_googleplus share_button" href=""></a>
        <a class="jiathis_button_tumblr share_button" href=""></a>
        <a class="jiathis_counter_style"></a>
    </div>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
<!-- JiaThis Button END -->
</article>
{% include disqus %}
