<header class="post-header">
        <div class="hd-img">
            <img src="http://7xlh6u.com1.z0.glb.clouddn.com/bg{{ page.img }}.jpg" alt="背景图片">
        </div>

        <div class="title">
           <h1>{{ page.title }}</h1>
        </div>
</header>
<button id="btnArrow" class="btn-arrow" data-info="点击显示文章"><i class="icon icon-arrow-down">&#xe619;</i></button>
<div class="all">
<div class="post-title">
	<h1>{{ page.title }}</h1>
	{% if page.subline %}
		<p class="subline">{{ page.subline}}</p>
	{% endif %}
    <p>作者: <a target="_blank" href="{{ site.SITE_PATH }}/"><strong>{{ site.author.name }}</strong></a>&nbsp;&nbsp;&nbsp;
        分类: <a target="_blank" href="{{ site.SITE_PATH }}/{{ page.categories }}.html"><strong>{{ page.categories }}</strong></a>&nbsp;&nbsp;&nbsp;
        日期: <strong>{{ page.date | date: "%Y" }}年{{ page.date | date: "%m" }}月{{ page.date | date: "%d" }}日</strong>&nbsp;&nbsp;&nbsp;
         <ul class="tags post-tags">
            {{ cnt = 0 }}
            {% for tmp in site.tags %}
            {% for tag in page.tags %}
                {% if tag == tmp[0] %}
                    <li><a href="{{ site.BASE_PATH  }}/tags/{{ tag  }}/index.html">{{ tmp[0] }}<span>{{ tmp[1].size }}</span></a></li>
                {% endif %}
            {% endfor %}
            {% endfor %}
        </ul>
    </p>           
</div>
    

<article class="post-content">
    <hr class="post-end-left"><p class="post-end">开始</p><hr class="post-end-right"/>
    <div>
        {{ content }}
    </div>
    <hr class="post-end-left"><p class="post-end">结束</p><hr class="post-end-right"/>
    <div class="post-footer">
        {% if page.previous %}
        <p class="post-footer-previous">上一篇 ： <a class="entry-more" href="{{ page.previous.url }}">{{ page.previous.title }}</a></p>
        {% endif %}
        {% if page.next %}
        <p class="post-footer-next">下一篇 ： <a class="entry-more" href="{{ page.next.url }}">{{ page.next.title }}</a></p>
        {% endif %}
    </div>
    <!-- JiaThis Button BEGIN -->
    <div class="jiathis_style">
        <span style="font-family:sans-serif; color:#009966">分享到：</span>
        <a class="jiathis_button_weixin share_button" href="#"></a>
        <a class="jiathis_button_tsina share_button" href="#"></a>
        <a class="jiathis_button_qzone share_button" href="#"></a>
        <a class="jiathis_button_evernote share_button" href="#"></a>
        <a class="jiathis_button_ydnote share_button" href="#"></a>
        <a class="jiathis_button_pocket share_button" href="#"></a>
        <a class="jiathis_button_douban share_button" href="#"></a>
        <a class="jiathis_button_renren share_button" href="#"></a>
        <a class="jiathis_button_fb share_button" href="#"></a>
        <a class="jiathis_button_linkedin share_button" href="#"></a>
        <a class="jiathis_button_googleplus share_button" href="#"></a>
        <a class="jiathis_button_tumblr share_button" href="#"></a>
        <a class="jiathis_counter_style"></a>
    </div>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
<script type="text/javascript" src="{{ site.BASE_PATH }}/static/js/totop.js" charset="utf-8"></script>
<!-- JiaThis Button END -->
<script type="text/javascript" src="{{ site.BASE_PATH }}/static/js/prism.js" charset="utf-8"></script>
</article>
</div>
{% include disqus %}
