<!doctype html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="Keywords" content="yinwoods,殷成涛,个人博客,郑州大学{% if page.tags %}{% for tag in page.tags %},{{ tag }}{% endfor %}{% endif %}"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta content="black" name="apple-mobile-web-app-status-bar-style" />
	<meta content="telephone=no" name="format-detection" />

	<title>书单</title>
	<link rel="stylesheet" type="text/css" href="css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="css/default.css">
	<link rel="stylesheet" type="text/css" href="css/demo.css">
	<link rel="dns-prefetch" href="//disqus.com"/>
	<link rel="dns-prefetch" href="//a.disquscdn.com"/>

	<link rel="alternate" type="application/rss+xml" title="yinwoods Feed" href="../../rss.xml" />
	<link rel="shortcut icon" href="../../img/icon-16.png" sizes="16x16" />
	<link rel="shortcut icon" href="../../img/icon-24.png" sizes="24x24" />
	<link rel="shortcut icon" href="../../img/icon-32.png" sizes="32x32" />

    	<script type="text/javascript">
  		(function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
  		(w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
  		e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
  		})(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');

  		_st('install','csxq-8xzb6tiaQ1dQaGs','2.0.0');
	</script>
</head>
<body>
	<div class="container">
		<header class="htmleaf-header">
			<h1> 书单 <span>读过的书</span></h1>
			<div class="htmleaf-links">
				<a class="htmleaf-icon icon-home" href="../index.html">博客</a>
				<a class="htmleaf-icon icon-arrow-right3" href="movielist.html">影单</a>
			</div>
			<h4 class="book-movie-title"><img src="images/booklist.png"></h4>
		</header>
		<div class="content bgcolor-1 gallery-wrapper">
			<section id="content" class="gallery-container">

	            <div class="span-30">
	            	
	            	<div class="span-30 column rounded"><h3><hr>七月读书</h3></div>

	            	<div class="span-6 column rotated">
					    <a id="image36" class="cms-editable polaroid" href="#pic-36" rel="lightbox"> <img src="http://7xlh6a.com1.z0.glb.clouddn.com/b36.jpg"/><div class="mark">行者无疆</div></a>
					</div>

	            	<div class="span-30 column rounded"><h3><hr>六月读书</h3></div>

	            	<div class="span-6 column rotated">
					    <a id="image35" class="cms-editable polaroid" href="#pic-35" rel="lightbox"> <img src="http://7xlh6a.com1.z0.glb.clouddn.com/b35.jpg"/><div class="mark">封神演义</div></a>
					</div>

	            	<div class="span-6 column rotated">
					    <a id="image34" class="cms-editable polaroid" href="#pic-34" rel="lightbox"> <img src="http://7xlh6a.com1.z0.glb.clouddn.com/b34.jpg"/><div class="mark">红高粱</div></a>
					</div>

	            	<div class="span-30 column rounded"><h3><hr>五月读书</h3></div>

	            	<div class="span-6 column rotated">
					    <a id="image33" class="cms-editable polaroid" href="#pic-33" rel="lightbox"> <img src="http://7xlh6a.com1.z0.glb.clouddn.com/b33.jpg"/><div class="mark">西游记</div></a>
					</div>

	            	<div class="span-30 column rounded"><h3><hr>四月读书</h3></div>

	            	<div class="span-6 column rotated">
					    <a id="image32" class="cms-editable polaroid" href="#pic-32" rel="lightbox"> <img src="http://7xlh6a.com1.z0.glb.clouddn.com/b32.jpg"/><div class="mark">性爱与婚姻</div></a>
					</div>

	            	<div class="span-6 column rotated">
					    <a id="image31" class="cms-editable polaroid" href="#pic-31" rel="lightbox"> <img src="http://7xlh6a.com1.z0.glb.clouddn.com/b31.jpg"/><div class="mark">乔家大院</div></a>
					</div>

	            	<div class="span-6 column rotated">
					    <a id="image30" class="cms-editable polaroid" href="#pic-30" rel="lightbox"> <img src="http://7xlh6a.com1.z0.glb.clouddn.com/b30.jpg"/><div class="mark">边城</div></a>
					</div>

	            	<div class="span-30 column rounded"><h3><hr>二月读书</h3></div>

	            	<div class="span-6 column rotated">
					    <a id="image29" class="cms-editable polaroid" href="#pic-29" rel="lightbox"> <img src="http://7xlh6a.com1.z0.glb.clouddn.com/b29.jpg"/><div class="mark">文化的力量</div></a>
					</div>

	            	<div class="span-30 column rounded"><h3><hr>一月读书</h3></div>

	            	<div class="span-6 column rotated">
					    <a id="image28" class="cms-editable polaroid" href="#pic-28" rel="lightbox"> <img src="http://7xlh6a.com1.z0.glb.clouddn.com/b28.jpg"/><div class="mark">准风月谈</div></a>
					</div>
	
					<div id="pic-36"><img class="bigger" src="http://7xlh6a.com1.z0.glb.clouddn.com/b36.jpg"/></div>
					<div id="pic-35"><img class="bigger" src="http://7xlh6a.com1.z0.glb.clouddn.com/b35.jpg"/></div>
					<div id="pic-34"><img class="bigger" src="http://7xlh6a.com1.z0.glb.clouddn.com/b34.jpg"/></div>
					<div id="pic-33"><img class="bigger" src="http://7xlh6a.com1.z0.glb.clouddn.com/b33.jpg"/></div>
					<div id="pic-32"><img class="bigger" src="http://7xlh6a.com1.z0.glb.clouddn.com/b32.jpg"/></div>
					<div id="pic-31"><img class="bigger" src="http://7xlh6a.com1.z0.glb.clouddn.com/b31.jpg"/></div>
					<div id="pic-30"><img class="bigger" src="http://7xlh6a.com1.z0.glb.clouddn.com/b30.jpg"/></div>
					<div id="pic-29"><img class="bigger" src="http://7xlh6a.com1.z0.glb.clouddn.com/b29.jpg"/></div>
					<div id="pic-28"><img class="bigger" src="http://7xlh6a.com1.z0.glb.clouddn.com/b28.jpg"/></div>

					<div class="span-30 column rounded"><h3><hr><a href="booklist-2015.html">2015年读书</a></h3></div>	            	
	      
	            </div>       
	    </section>
		</div>
	</div>
	<footer class="htmleaf-footer">
		<p class="htmleaf-small center">阅读书籍封面来自于<a href="https://www.google.com/imghp?hl=zh-CN&tab=wi" target="_blank">谷歌图片</a><br/>图片存储于<a href="http://www.qiniu.com/" target="_blank">七牛免费云空间</a>.</p>
	</footer>
	<div id="totop">
    			<a title="返回顶部">返回顶部</a>
	</div>

	<script src="js/jquery.min.js" type="text/javascript"></script>
	<script type='text/javascript' src='js/fancyzoom.js'></script>
    	<script type='text/javascript' src='js/demo.js'></script>
    	<script type='text/javascript' src='js/totop.js'></script>
</body>
</html>